* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
    display: flex;
    justify-content: center;
  }
  .main-container {
    width: 575px;
    height: 385px;
    background: rgba(27,36,74,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
   .home-container {
    width: 155px;
    height: 45px;
    /* background: url("../images/v109_12.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 271px;
    left: 82px;
    overflow: hidden;
  }
  .home-3 {
    width: 45px;
    height: 45px;
    /* background: url("../images/v109_13.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 110px;
    overflow: hidden;
  }
  .v109_14 {
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 2px solid rgba(153,170,215,1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v109_15 {
    width: 30px;
    color: rgba(153,170,215,1);
    position: absolute;
    top: 9px;
    left: 7px;
    font-family: Cursed Timer ULiL;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
  }
  .home-2 {
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 54px;
    overflow: hidden;
  }
  .v109_17 {
    width: 30px;
    color: rgba(153,170,215,1);
    position: absolute;
    top: 9px;
    left: 7px;
    font-family: Cursed Timer ULiL;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
  }
  .v109_18 {
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 2px solid rgba(153,170,215,1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .home-1 {
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v109_20 {
    width: 30px;
    color: rgba(153,170,215,1);
    position: absolute;
    top: 9px;
    left: 7px;
    font-family: Cursed Timer ULiL;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
  }
  .v109_21 {
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 2px solid rgba(153,170,215,1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .guest-container {
    width: 155px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 271px;
    left: 337px;
    overflow: hidden;
  }
  .guest-3 {
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 110px;
    overflow: hidden;
  }
  .v126_8 {
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 2px solid rgba(153,170,215,1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v126_9 {
    width: 30px;
    color: rgba(153,170,215,1);
    position: absolute;
    top: 9px;
    left: 7px;
    font-family: Cursed Timer ULiL;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
  }
  .guest-2 {
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 54px;
    overflow: hidden;
  }
  .v126_11 {
    width: 30px;
    color: rgba(153,170,215,1);
    position: absolute;
    top: 9px;
    left: 7px;
    font-family: Cursed Timer ULiL;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
  }
  .v126_12 {
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 2px solid rgba(153,170,215,1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .guest-1 {
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v126_14 {
    width: 30px;
    color: rgba(153,170,215,1);
    position: absolute;
    top: 9px;
    left: 7px;
    font-family: Cursed Timer ULiL;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: center;
  }
  .v126_15 {
    width: 45px;
    height: 45px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 2px solid rgba(153,170,215,1);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v107_175 {
    width: 155px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 125px;
    left: 82px;
    overflow: hidden;
  }
  .v107_176 {
    width: 155px;
    height: 120px;
    background: rgba(8,0,1,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v126_16 {
    width: 155px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 125px;
    left: 337px;
    overflow: hidden;
  }
  .v126_17 {
    width: 155px;
    height: 120px;
    background: rgba(8,0,1,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
  }
  .v107_160 {
    width: 149px;
    color: rgba(238,238,238,1);
    position: absolute;
    top: 68px;
    left: 85px;
    font-family: Verdana;
    font-weight: Bold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .v126_18 {
    width: 149px;
    color: rgba(238,238,238,1);
    position: absolute;
    top: 68px;
    left: 340px;
    font-family: Verdana;
    font-weight: Bold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
  }
  .home-score {
    width: 117px;
    color: rgba(249,79,109,1);
    position: absolute;
    top: 125px;
    left: 100px;
    font-family: Cursed Timer ULiL;
    font-weight: Regular;
    font-size: 90px;
    opacity: 1;
    text-align: center;
  }
  .guest-score {
    width: 117px;
    color: rgba(249,79,109,1);
    position: absolute;
    top: 125px;
    left: 355px;
    /* font-family: Cursed Timer ULiL; */
    font-weight: Regular;
    font-size: 90px;
    opacity: 1;
    text-align: center;
  } 